@import "../../variables";

.landing_sec {
    z-index: 0;
    position: relative;
    background-size: cover;
    background-color: #101828;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/landing.png");

    &::before {
        z-index: 1;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .landing_container {
        z-index: 10;
        width: 100%;
        display: flex;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        .landing_image {
            width: 80%;
            justify-self: center;
        }   
    
        .hero_line {
            color: #fff;
            font-size: 50px;
            width: 70%;
            text-align: center;
            font-family: $font-bold;
            margin-bottom: 24px;
        }
    
        .caption {
            color: white;
            font-size: 14px;
            width: 70%;
            text-align: center;
            font-family: $font-light;
            margin-bottom: 20px;
        }
    }
}
