.scroll_to_top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .scroll_to_top {
        bottom: 35px;
        right: 35px;
        height: 35px;
        width: 35px;
    }   
}