.footer_sec {
    background-color: #101828;
    padding: 32px 0;

    .footer_cnt {
        display: flex;
        align-items: center;
        justify-content: space-between;   
    }

    .footer_txt {
        color: #98A2B3
    }
}

