$font-black: "Inter-Black-900";
$font-extra-bold: "Inter-Extra-Bold-800";
$font-semi-bold: "Inter-Semi-Bold-700";
$font-bold: "Inter-Bold-600";
$font-medium: "Inter-Medium-500";
$font-regular: "Inter-Regular-400";
$font-light: "Inter-Light-300";

$primary-color: #80ed99;
$primary-color-dark: #57cc99;
$primary-color-light: #c7f9cc;
$secondary-color: #38a3a5;
$secondary-color-dark: #22577a;
